<a href="https://colab.research.google.com/github/khamkarajinkya/Recommender-Practice/blob/main/filter_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive 
import logging

logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

In [ ]:
#mount drive
drive.mount('/content/gdrive')
base_path = '/content/gdrive/My Drive/Data/movie-lens/'

Mounted at /content/gdrive

In [ ]:
'''
Get all ids from movie-lens we need to keep from in imdb datasets

'''
mlens = pd.read_csv(base_path + 'full/link.csv')
mlens['imdbId'] = mlens['imdbId'].apply(lambda x : 'tt'+str(x))
mlens_indx = mlens.set_index('imdbId').index

In [ ]:
'''
Read individual imdb datasets and filter to keep only interested columns and movielens id rows
'''

def filter_(fname,fext, df_indx, filter_indx, cols_to_keep,base_path):
  cols_to_keep += [df_indx]
  filename = fname + '.' + fext
  if fext == 'tsv':
    sep = '\t'
  else:
    sep = ','
  df = pd.read_csv(base_path+'full/'+filename,sep = sep, index_col = df_indx, na_values=[r'\N'])
  df = df[df.index.isin(filter_indx)]
  df.reset_index(inplace = True)
  df.loc[:, df.columns.isin(cols_to_keep)].to_csv(base_path + 'filtered/' + fname +'.csv', index = False)

  logger.info(f'Finished cleaning : {fname}')

In [ ]:
filter_(fname = 'title.akas',fext = 'tsv', df_indx='titleId', filter_indx = mlens_indx, cols_to_keep = ['language'], base_path = base_path)
filter_(fname = 'title.basics',fext = 'tsv', df_indx='tconst', filter_indx = mlens_indx, cols_to_keep = ['titleType','isAdult','runtimeMinutes'], base_path = base_path)
filter_(fname = 'title.crew',fext = 'tsv', df_indx='tconst', filter_indx = mlens_indx, cols_to_keep = ['directors','writers'], base_path = base_path)
filter_(fname = 'title.principals',fext = 'tsv', df_indx='tconst', filter_indx = mlens_indx, cols_to_keep = ['nconst','category','job','characters'], base_path = base_path)
filter_(fname = 'title.ratings',fext = 'tsv', df_indx='tconst', filter_indx = mlens_indx, cols_to_keep = ['numVotes'], base_path = base_path)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.

In [ ]:
akas = pd.read_csv(base_path + 'filtered/title.crew.csv')

In [ ]:
akas

         tconst  directors                                            writers
0     tt1000764  nm0640337                                          nm0857621
1     tt1000771  nm0005366                                          nm0834960
2     tt1000774  nm0455078                      nm0455078,nm0124299,nm0823015
3     tt1001508  nm0477129            nm0463359,nm0799050,nm1021163,nm0875710
4     tt1001526  nm0569891                                nm0774786,nm2523794
...         ...        ...                                                ...
6420  tt4377918  nm0190389  nm4353173,nm6538572,nm4003020,nm2268581,nm0704289
6421  tt4397346  nm0314995                                          nm0314995
6422  tt4438688  nm9781362                                          nm1451553
6423  tt4475970  nm0994538  nm0994538,nm0004735,nm4476681,nm0411127,nm0506...
6424  tt4530184        NaN                                          nm2106637

[6425 rows x 3 columns]